@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

#root {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;/* НЕ ЛОМАЕТ АДАПТАЦИЮ*/
    /*flex-direction: column;  ломает адаптацию*/
    background: black;
}

.App {
    width: 800px;
    background: black;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 10px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.post:hover {
    box-shadow: 0 0 15px rgb(153, 170, 181);
}

.post__btns {
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 10px;
    display: flex;
    color: white;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    border-radius: 50px;
    cursor: pointer;
}
.page:hover {
    box-shadow: 0 0 15px rgb(153, 170, 181);
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: teal;
    border-radius: 10px;
}

.navbar__links {
    margin-left: auto;
}


.link {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14pt;
    color: black;
}
.link:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
    font-size: 15pt;
}
