.myInput {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.myInput:hover {
    box-shadow: 0 0 10px rgb(153,170,181);
}